#App {
  margin: 0 auto;
  padding: 4em 1em;
  max-width: 600px;
}

#App .list-group-item-action {
  color: #007bff;
}

#App a {
  color: #007bff;
}

#App .lead {
  margin-bottom: 0.5em;
}

#App hr {
  margin: 1.5em 0;
}
